<h2 class="friend">
    <a href="<%=id%>" class="dude"><%=title||"?"%></a>
    <a href="destroy?id=<%=id%>" title="Delete <%=title%>" alt="Delete blog <%=title%>" class="delete">[X]</a>
</h2>
<p>
    <%= content %>
</p>